body {
    font-family: -apple-system, monospace;
    background: gainsboro;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background: white;
}

#top-bar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar div {
    width: 80%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 15px;
    padding: 5px 5px;
    margin: 0 50px;
}

#top-bar div input {
    width: 90%;
    padding: 5px 0px;
    font-size: 15px;
    margin: 0 auto;
    border: 0;
    outline: none;
    color: rgba(1, 1, 1, 0.5);;
}

#top-bar select {
    font-size: 15px;
    border: 1px solid rgba(1, 1, 1, 0.3);
    border-radius: 15px;
    padding: 5px 5px;
    color: rgba(1, 1, 1, 0.5);
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 5px;
}

/*.card div {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

.card img {
    max-width: 200px;
    height: 350px;
    margin: 0 auto;
}

/*.card:hover {*/
/*    transform: scale(1.02);*/
/*}*/

/*.card .title {*/
/*    margin-bottom: 20px;*/
/*    margin-top: auto;*/
/*}*/